<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:a4j="http://richfaces.org/a4j">
<h4>#{msg['headline.answer']}</h4>
<script>
tinymce.init({
  selector: '[id$=mytextarea]',
  height: 350,
  theme: 'modern',
  plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
  ],
  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
  image_advtab: true,
  templates: [
    { title: 'Test template 1', content: 'Test 1' },
    { title: 'Test template 2', content: 'Test 2' }
  ],
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tinymce.com/css/codepen.min.css'
  ]
 });
 </script>
<h:panelGrid styleClass="form">
	<label>#{msg['general.title']}:<span class="color-red">*</span></label>
	<b:inputText id="title" value="#{selectedAnswerTest.title}" maxlength="256"
		styleClass="form-control margin-bottom-20" size="60">
		<f:passThroughAttribute name="placeholder"
			value="#{msg['general.title']}" />
	</b:inputText>
	<h:message for="title" styleClass="alert-warning" />
	<label>#{msg['general.answer']}:<span class="color-red">*</span></label>
	<h:inputTextarea  value="#{selectedAnswerTest.answer}" id="mytextarea" />
	<h:message for="mytextarea" styleClass="alert-warning" />
	<h:panelGrid styleClass="col200" columns="3">
		<label>#{msg['general.ok']}:</label>
		<h:outputLabel styleClass="col5"></h:outputLabel>
		<h:selectBooleanCheckbox id="checkGrades"
			value="#{selectedAnswerTest.ok}">
		</h:selectBooleanCheckbox>
	</h:panelGrid>
	<h:outputLabel styleClass="height20"></h:outputLabel>
</h:panelGrid>
<h:panelGrid styleClass="col200" columns="3">
	<h:outputLabel styleClass="nowrap">#{msg['general.created']}:</h:outputLabel>
	<h:outputLabel styleClass="col5"></h:outputLabel>
	<h:outputLabel styleClass="nowrap" id="createDate"
		value="#{selectedAnswerTest.createDate}">
		<f:convertDateTime pattern="dd.MM.YYYY hh:mm" />
	</h:outputLabel>
	<h:outputLabel styleClass="nowrap">#{msg['general.lastmodified']}:</h:outputLabel>
	<h:outputLabel styleClass="col5"></h:outputLabel>
	<h:outputLabel styleClass="nowrap" id="lastModified"
		value="#{selectedAnswerTest.lastModified}">
		<f:convertDateTime pattern="dd.MM.YYYY hh:mm" />
	</h:outputLabel>
</h:panelGrid>
</html>