<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:body>
<ui:composition template="../../public/editForm.xhtml">
	<ui:define name="form">
				<h:outputLabel for="questions" value="Questions: " />
				<h:selectOneMenu
					value="#{dropdownQuestionController.selectedQuestion}"
					id="questions" converter="#{questionConverter}" immediate="true"
					styleClass="ym-form ym-g60">
					<f:selectItem itemValue="#{null}" itemLabel="--select--"
						noSelectionOption="true" itemDisabled="true" />
					<f:selectItems value="#{dropdownQuestionController.allQuestions}"
						var="question" itemLabel="#{question.title}"
						itemValue="#{question}" />
					<p:ajax update=":table:question_table" process="@this" />
				</h:selectOneMenu>
				<h:panelGroup id="question_table">
					<h1>List Answers Archiv</h1>
					<p:dataTable value="#{listAnswersController.allAnswersArchive}"
						var="answer">
						<p:column>
							<p:commandLink 
								actionListener="#{listAnswersController.doNoArchiveAnswer(answer)}"
								value="No Archiv" />
						</p:column>
						<p:column>
							<p:commandLink value="Edit" 
								action="#{listAnswersController.doEditAnswer(answer)}" />
						</p:column>
						<p:column>
							<f:facet name="header">Answer</f:facet>
							<h:outputText value="#{answer.answer}" />
						</p:column>
					</p:dataTable>
				</h:panelGroup>
		</ui:define>
	</ui:composition>
</h:body>
</html>