<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="../public/editForm.xhtml">
	<ui:define name="form">
		<ui:insert name="buttons" />
		<h:panelGrid width="450px">
			<label>#{msg['person.email']}:<span class="color-red">*</span></label>
			<p:outputLabel id="email" value="#{selectedPerson.emailAddress}"
				styleClass="form-control margin-bottom-20" />
			<h:message for="email" styleClass="alert-warning" />
			<label>#{msg['person.password']}:<span class="color-red">*</span></label>
			<b:inputSecret id="password" value="#{selectedPerson.passWord}"
				match="repeated_password" styleClass="form-control margin-bottom-20"
				maxlength="15"
				validatorMessage="Both passwords must match and have a minimum length of 6." />
			<h:message for="password" styleClass="alert-warning" />
			<label>#{msg['person.passwordconfirm']}:<span
				class="color-red">*</span></label>
			<b:inputSecret  id="repeated_password"
				value="#{selectedPerson.passWordCompare}"
				styleClass="form-control margin-bottom-20" />
			<h:message for="passwordconfirm" styleClass="alert-warning"
				maxlength="15" />
		</h:panelGrid>
	</ui:define>
</ui:composition>

</html>