<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="../public/editForm.xhtml">
	<ui:define name="form">
		<ui:insert name="buttons" />

		<h:panelGrid width="450px">
			<label>#{msg['person.firstname']}:<span class="color-red">*</span></label>
			<b:inputText id="firstname" value="#{selectedPerson.firstName}"
				styleClass="form-control margin-bottom-20" size="60"
				placeholder="First Name..." required="true" maxlength="100"
				ajax="true" autocomplete="false" update="@(.message)" />

			<b:message for="firstname" styleClass="alert-warning" />
			<label>#{msg['person.lastname']}:<span class="color-red">*</span></label>
			<b:inputText id="lastname" value="#{selectedPerson.lastName}"
				styleClass="form-control margin-bottom-20" size="60"
				placeholder="Last Name..." required="true" maxlength="100"
				ajax="true" autocomplete="false" update="@(.message)" />
			<b:message for="lastname" styleClass="alert-warning" />
			<label>#{msg['person.email']}:<span class="color-red">*</span></label>
			<b:inputText id="email" value="#{selectedPerson.emailAddress}"
				styleClass="form-control margin-bottom-20" size="60"
				placeholder="John.Doe@acme.at..." readonly="true">
				<f:facet name="prepend">
					<h:outputText value="@" />
				</f:facet>
				<f:validator validatorId="EmailValidator" />
			</b:inputText>

			<h:message for="country" styleClass="alert-warning" />
			<label>#{msg['person.town']}:</label>
			<p:inputText id="town" value="#{selectedPerson.town}"
				styleClass="form-control margin-bottom-20" size="60" />
			<h:message for="town" styleClass="alert-warning" />
			<label>#{msg['person.street']}:</label>
			<p:inputText id="street" value="#{selectedPerson.street}"
				styleClass="form-control margin-bottom-20" size="60"
				placeholder="Vienna..." />
			<h:message for="street" styleClass="alert-warning" />
			<label>#{msg['person.streetnumber']}:</label>
			<p:inputText id="streetnumber" value="#{selectedPerson.streetnumber}"
				styleClass="form-control margin-bottom-20" size="60"
				placeholder="23/23/23..." />
			<h:message for="streetnumber" styleClass="alert-warning" />
			<label>#{msg['person.zipcode']}:</label>
			<p:inputText id="zipcode" value="#{selectedPerson.zipCode}"
				styleClass="form-control margin-bottom-20" size="60"
				placeholder="Austria or GB..." />
			<h:message for="zipcode" styleClass="alert-warning" />
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>