<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="../user/editPasswordForm.xhtml">
	<ui:define name="buttons">
		<div class="paddingleft0 panel-heading">
			<h3>Edit Password</h3>
		</div>
		<table>
			<tr>
				<td><h:commandLink 
						styleClass="btn btn-success btn-xs"
						action="#{editPersonController.doSave()}">
						<h:outputText value="Save">
						</h:outputText>
					</h:commandLink></td>
				<td class="col5"></td>
				<td><h:commandLink 
						styleClass="btn btn-success btn-xs"
						action="#{editPersonController.doCancel()}" immediate="true"
						process="@this">
						<h:outputText value="Cancel">
						</h:outputText>
					</h:commandLink></td>
			</tr>
		</table>
		<ui:insert name="fields" />

	</ui:define>
</ui:composition>

</html>