.height10 {
	height: 10px !important;
	vertical-align: top;
}

.height20 {
	height: 20px !important;
	vertical-align: top;
}

.height5 {
	height: 5px !important;
	vertical-align: top;
}

.col5 {
	width: 10px !important;
	vertical-align: top;
}

.col10 {
	width: 10px !important;
	vertical-align: top;
}

.col20 {
	width: 20px !important;
	vertical-align: top;
}

.col50 {
	width: 50px !important;
	vertical-align: top;
}

.col70 {
	width: 70px !important;
	vertical-align: top;
}

.col100 {
	width: 100px !important;
	vertical-align: top;
}

.col150 {
	width: 150px !important;
	vertical-align: top;
}

.col200 {
	width: 200px !important;
	vertical-align: top;
}

.col300 {
	width: 300px !important;
	vertical-align: top;
}

.col350 {
	width: 350px !important;
	vertical-align: top;
}

.col400 {
	width: 400px !important;
	vertical-align: top;
}

.col450 {
	width: 450px !important;
	vertical-align: top;
}

.col500 {
	width: 500px !important;
	vertical-align: top;
}

.col550 {
	width: 550px !important;
	vertical-align: top;
}

.left {
	align: left;
	float: left;
}

.bottom {
	vertical-align: bottom;
}

.nowrap {
	white-space: nowrap !important;
}

.marginbottom0 {
	margin-bottom: 0px !important;
}

.form table {
	border: none !important;
	display: block;
	vertical-align: top;
}

.verticalalign {
	vertical-align: top !important;
}

.padding0 {
	padding: 0px;
}

.paddingleft0 {
	padding: 10px 0px !important;
	padding-left: 0px !important;
}

.glyphicon {
	color: white !important;
}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
top: 43% !important;
}