<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<h4>#{msg['headline.addstudent']}</h4>
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editStudentController.doCancel()}" immediate="true"
							process="@this">
							<h:outputText value="#{msg['button.cancel']}">
							</h:outputText>
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editStudentController.doSave()}">
							<b:icon name="floppy-disk"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.save']}" />
						</h:commandLink></td>
				</tr>
			</table>
			<table>
				<tr>

					<td class="verticalalign ym-g38"><h:panelGrid width="450">
							<label>#{msg['student.firstname']}:<span
								class="color-red">*</span></label>
							<b:inputText id="firstname" value="#{selectedStudent.firstName}"
								maxlength="256" styleClass="form-control margin-bottom-20"
								size="60">
							</b:inputText>
							<h:message for="firstname" styleClass="alert-warning" />
							<label>#{msg['student.lastname']}:<span class="color-red">*</span></label>
							<b:inputText id="lastname" value="#{selectedStudent.lastName}"
								maxlength="256" styleClass="form-control margin-bottom-20">
							</b:inputText>
							<h:message for="lastname" styleClass="alert-warning" />
							<label>#{msg['student.userid']}:<span class="color-red">*</span></label>
							<b:inputText id="userid" value="#{selectedStudent.userID}"
								maxlength="256" styleClass="form-control margin-bottom-20">
							</b:inputText>
							<h:message for="userid" styleClass="alert-warning" />
							<label>#{msg['person.email']}:<span class="color-red">*</span></label>
							<b:inputText id="email" value="#{selectedStudent.emailAddress}"
								styleClass="form-control margin-bottom-20" size="60"
								placeholder="John.Doe@acme.at...">
								<f:facet name="prepend">
									<h:outputText value="@" />
								</f:facet>
								<f:validator validatorId="EmailValidator" />
							</b:inputText>
							<h:message for="email" styleClass="alert-warning" />
							<label>#{msg['person.password']}:<span class="color-red">*</span></label>
							<b:inputSecret id="password" value="#{selectedStudent.passWord}"
								match="repeated_password"
								styleClass="form-control margin-bottom-20" size="60" />
							<h:message for="password" styleClass="alert-warning" />
							<label>#{msg['person.passwordconfirm']}:<span
								class="color-red">*</span></label>
							<b:inputSecret id="repeated_password"
								value="#{selectedStudent.passWordCompare}"
								styleClass="form-control margin-bottom-20" />
							<h:message for="passwordconfirm" styleClass="alert-warning"
								size="60" />
						</h:panelGrid></td>
				</tr>
			</table>

		</ui:define>
	</ui:composition>
</h:body>



</html>