<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>
	<!-- Edit Student for teacher, no PW change -->
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
				<ui:param name="baseView" value="EDIT_STUDENT" />
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-warning btn-xs"
							action="#{editStudentController.doCancel()}" immediate="true"
							process="@this">
							<b:icon name="step-backward"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.cancel']}">
							</h:outputText>
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editStudentController.doSaveWithoutPassword()}">
							<b:icon name="floppy-disk"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.save']}">
							</h:outputText>
						</h:commandLink></td>
					<td class="col5"></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="verticalalign ym-g38"><ui:include
							src="editStudentForm.xhtml" style="width:200px" /></td>
					<td class="verticalalign ym-g38" style="width: 520px"><ui:include
							src="editStudentView.xhtml" /></td>
				</tr>
			</table>

		</ui:define>
	</ui:composition>
</h:body>



</html>