<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">

			<h4>#{msg['headline.student']}</h4>
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editStudentController.doCancel()}" immediate="true"
							process="@this">
							<h:outputText value="#{msg['button.cancel']}">
							</h:outputText>
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editStudentController.doSave}">
							<h:outputText value="#{msg['button.save']}">
							</h:outputText>
						</h:commandLink></td>

				</tr>
			</table>
			<table>
				<tr>
					<h:panelGrid width="450px">
						<label>#{msg['person.email']}:<span class="color-red">*</span></label>
						<p:outputLabel id="email" value="#{selectedStudent.emailAddress}"
							styleClass="form-control margin-bottom-20" />
						<h:message for="email" styleClass="alert-warning" />
						<label>#{msg['person.password']}:<span class="color-red">*</span></label>
						<b:inputSecret id="password" value="#{selectedStudent.passWord}"
							match="repeated_password"
							styleClass="form-control margin-bottom-20" maxlength="15"
							validatorMessage="Both passwords must match and have a minimum length of 6." />
						<h:message for="password" styleClass="alert-warning" />
						<label>#{msg['person.passwordconfirm']}:<span
							class="color-red">*</span></label>
						<b:inputSecret id="repeated_password"
							value="#{selectedStudent.passWordCompare}"
							styleClass="form-control margin-bottom-20" />
						<h:message for="passwordconfirm" styleClass="alert-warning"
							maxlength="15" />
					</h:panelGrid>

					<td class="col5"></td>
					<td class="verticalalign ym-g62"></td>
				</tr>
			</table>

		</ui:define>
	</ui:composition>
</h:body>



</html>