<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['headline.student']}</h4>
<h:panelGrid width="450px">
	<label>#{msg['student.firstname']}:<span class="color-red">*</span></label>
	<b:inputText id="firstname" value="#{selectedStudent.firstName}"
		maxlength="256" styleClass="form-control margin-bottom-20" size="60">
	</b:inputText>
	<h:message for="firstname" styleClass="alert-warning" />
	<label>#{msg['student.lastname']}:<span class="color-red">*</span></label>
	<b:inputText id="lastname" value="#{selectedStudent.lastName}"
		maxlength="256" styleClass="form-control margin-bottom-20" size="60">
	</b:inputText>
	<h:message for="lastname" styleClass="alert-warning" />
	<label>#{msg['student.userid']}:<span class="color-red">*</span></label>
	<b:inputText id="userid" value="#{selectedStudent.userID}"
		maxlength="256" styleClass="form-control margin-bottom-20" size="60">
	</b:inputText>
	<h:message for="userid" styleClass="alert-warning" />
	<label>#{msg['person.email']}:<span class="color-red">*</span></label>
	<b:inputText id="email" value="#{selectedStudent.emailAddress}"
		maxlength="256" styleClass="form-control margin-bottom-20" size="60">
	</b:inputText>
	<h:message for="email" styleClass="alert-warning" />
</h:panelGrid>
</html>