<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h4>#{msg['headline.exams']}</h4>

<h:panelGrid width="450px" styleClass="verticalalign">
	<b:dataTable value="#{listExamsController.studentExams}" var="exam"
		id="studenttable" styleClass="table table-hover">
		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{editExamController.doReadExam(exam,baseView)}">
				<b:icon name="sunglasses" />
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{editExamController.doEditExam(exam,baseView)}">
				<b:icon name="edit" />
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-danger btn-xs"
				action="#{editExamController.doRemoveExam(exam)}">
				<b:icon name="remove"></b:icon>
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col100">
			<f:facet name="header">#{msg['general.date']}</f:facet>
			<h:outputText  value="#{exam.testDate.testDate}">
				<f:convertDateTime pattern="dd.MM.yyyy" />
			</h:outputText>
		</b:dataTableColumn>

		<b:dataTableColumn styleClass="col100">
			<f:facet name="header">#{msg['general.title']}</f:facet>
			<h:outputText  value="#{exam.testDate.test.title}">
			</h:outputText>
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="Finished" />
			</f:facet>
			<h:graphicImage library="images" name="checked.png"
				rendered="#{exam.finished}" height="20" width="20" />
			<h:graphicImage library="images" name="unchecked.png"
				rendered="#{not exam.finished}" height="20" width="20" />
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="Pass" />
			</f:facet>
			<h:graphicImage library="images" name="checked.png"
				rendered="#{exam.pass}" height="20" width="20" />
			<h:graphicImage library="images" name="unchecked.png"
				rendered="#{not exam.pass}" height="20" width="20" />
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="Grade" />
			</f:facet>
			<h:outputText  value="#{exam.passGrade}" rendered="#{exam.passGrade>0}">
			</h:outputText>
		</b:dataTableColumn>
	</b:dataTable>
</h:panelGrid>


</html>