<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">


<h4> #{msg['general.archive']}</h4>
<b:dataTable value="#{listStudentsController.allStudentsOrphansArchive}"
	var="student" styleClass="table table-hover">
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{listStudentsController.doNoArchiveStudent(student)}">
			<b:icon name="thumbs-up"></b:icon>
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-danger btn-xs"
			action="#{listStudentsController.doRemoveStudent(student)}">
			<b:icon name="remove"></b:icon>
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{editStudentController.doEditStudent(student,baseView)}">
			<b:icon name="edit" />
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col100">
		<f:facet name="header">#{msg['person.lastname']}</f:facet>
		<h:outputText value="#{student.lastName}">
		</h:outputText>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col100">
		<f:facet name="header">#{msg['person.firstname']}</f:facet>
		<h:outputText value="#{student.firstName}">
		</h:outputText>
	</b:dataTableColumn>
</b:dataTable>
</html>