<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<table>
				<tr>
					<td class="col5"></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="verticalalign ym-g38"><h:panelGrid width="450px">
							<label>#{msg['headline.classroom']}:</label>
							<b:selectOneMenu
								value="#{dropdownClassroomController.classroomId}"
								id="Classrooms">
								<f:selectItem itemValue="#{null}" itemLabel="--select--"
									noSelectionOption="true" itemDisabled="true" />
								<f:selectItems
									value="#{dropdownClassroomController.allClassroomsIds}" />
							</b:selectOneMenu>
						</h:panelGrid></td>
					<td class="col5"></td>
				</tr>
				<tr>
					<td class="height20 col5"></td>
				</tr>

			</table>
			<ui:param name="baseView" value="LIST_STUDENT_ORPHAN" />
			<table>
				<tr>
					<td class="col400 verticalalign"><ui:include
							src="listStudentOrphanView.xhtml" />
					<td class="col50" />
					</td>
					<td class="col400 verticalalign"><ui:include
							src="listStudentOrphanViewArchive.xhtml" /></td>
				</tr>
			</table>
		</ui:define>
	</ui:composition>
</h:body>
</html>