<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="../public/editForm.xhtml">
	<ui:define name="form">
		<div class="paddingleft0 panel-heading">
			<h3>Person List</h3>
		</div>
		<table>
			<tr>
				<td><h:commandLink 
						styleClass="btn btn-success btn-xs"
						action="#{editPersonAdminController.doAddPersonAdmin()}">
						<h:outputText value="Add Person">
						</h:outputText>
					</h:commandLink></td>
					</tr><tr>
				<td class="height10"></td>
			</tr>
		</table>
		<table>
			<tr>
				<td class="verticalalign"><h:panelGrid width="400px"
						styleClass="form">
						<b:dataTable value="#{editPersonAdminController.allPersons}"
							var="person" styleClass="table table-hover">
							<b:dataTableColumn>
								<f:facet name="header"></f:facet>
								<h:panelGrid width="70px">
									<h:commandLink  styleClass="btn btn-warning btn-xs"
										action="#{editPersonAdminController.doRemove(person)}">
										<h:outputText value="Delete">
										</h:outputText>
									</h:commandLink>
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header"></f:facet>
								<h:panelGrid width="40px">
									<h:commandLink  styleClass="btn btn-warning btn-xs"
										action="#{editPersonAdminController.doEditPersonAdmin(person)}">
										<h:outputText value="Edit">
										</h:outputText>
									</h:commandLink>
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header"></f:facet>
								<h:panelGrid width="140px">
									<h:commandLink  styleClass="btn btn-warning btn-xs"
										action="#{editPersonAdminController.doEditPasswordAdmin(person)}">
										<h:outputText value="Change Password">
										</h:outputText>
									</h:commandLink>
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header">First Name</f:facet>
								<h:panelGrid width="100px">
									<h:outputText value="#{person.firstName}" />
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header">Last Name</f:facet>
								<h:panelGrid width="100px">
									<h:outputText value="#{person.lastName}" />
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header">Email</f:facet>
								<h:panelGrid width="150px">
									<h:outputText value="#{person.emailAddress}" />
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header">Role</f:facet>
								<h:panelGrid width="100px">
									<h:outputText value="#{person.userRole}" />
								</h:panelGrid>
							</b:dataTableColumn>
						</b:dataTable>
					</h:panelGrid></td>

				<td class="verticalalign" style="width: 20px"></td>
				<td class="verticalalign"><h:panelGrid width="400px"
						styleClass="form">
					</h:panelGrid></td>
			</tr>
		</table>
	</ui:define>
</ui:composition>
</html>