<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">



<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<ui:param name="baseView" value="EDIT_CLASSROOM" />

			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editClassroomController.doCancel()}" immediate="true"
							process="@this">
							<b:icon name="step-backward"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.cancel']}" />
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editClassroomController.doSave()}">
							<b:icon name="floppy-disk"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.save']}" />
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editStudentController.doAddStudent(baseView)}">
							<b:icon name="plus" />
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.addstudent']}">
							</h:outputText>
						</h:commandLink></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="col200 verticalalign"><ui:include
							src="editClassroomForm.xhtml"/></td>
					<td class="col450 verticalalign"><ui:include
							src="editClassroomView.xhtml" /></td>
					<td class="col450 verticalalign"><ui:include
							src="editClassroomViewArchive.xhtml" /></td>
				</tr>
			</table>
		</ui:define>
	</ui:composition>
</h:body>
</html>