<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">



<h4>#{msg['headline.students']}</h4>
<h:panelGrid width="450px" styleClass="verticalalign">
	<b:dataTable value="#{listStudentsController.allStudentsClassroom}"
		var="Student" id="studenttable" styleClass="table table-hover">
		<b:dataTableColumn styleClass="col10"> 
			<f:facet name="header"><h:outputText value="&#160;" /></f:facet>
				<h:commandLink  styleClass="btn btn-warning btn-xs"
					action="#{listStudentsController.doArchiveStudent(Student)}">
					<b:icon name="trash"></b:icon>
				</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col10"> 
			<f:facet name="header"><h:outputText value="&#160;" /></f:facet>
				<h:commandLink  styleClass="btn btn-warning btn-xs"
					action="#{editStudentController.doRemoveStudentFromClassroom(Student)}">
					<b:icon name="minus"></b:icon>
				</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col10"> 
			<f:facet name="header"><h:outputText value="&#160;" /></f:facet>
				<h:commandLink  styleClass="btn btn-success btn-xs"
					action="#{editStudentController.doEditStudent(Student,baseView)}">
					<b:icon name="edit" />
				</h:commandLink>
		</b:dataTableColumn>		
		<b:dataTableColumn styleClass="col100">
			<f:facet name="header"><h:outputText value="&#160;" /></f:facet>
				<h:commandLink  styleClass="btn btn-warning btn-xs"
					action="#{editStudentController.doEditStudentPassword(Student, baseView)}">
					<b:icon name="edit" />
					<h:outputText value="&#160;" />
					<h:outputText value="Password">
					</h:outputText>
				</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col150">
			<f:facet name="header">#{msg['person.lastname']}</f:facet>
				<h:outputText  value="#{Student.lastName}">
				</h:outputText>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col50">
			<f:facet name="header">#{msg['person.userid']}</f:facet>
				<h:outputText  value="#{Student.userID}">
				</h:outputText>
		</b:dataTableColumn>
	</b:dataTable>
</h:panelGrid>
</html>