<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h4>#{msg['headline.students']} #{msg['general.archive']}</h4>
<h:panelGrid width="430px" styleClass="verticalalign">
	<b:dataTable value="#{listStudentsController.studentsClassroomArchive}"
		var="student" styleClass="table table-hover">
		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{listStudentsController.doNoArchiveStudent(student)}">
				<b:icon name="thumbs-up"></b:icon>
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-danger btn-xs"
				action="#{listStudentsController.doRemoveStudent(student)}">
				<b:icon name="remove"></b:icon>
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{editStudentController.doEditStudent(Student,baseView)}">
				<b:icon name="edit" />
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">#{msg['person.lastname']}</f:facet>
			<h:panelGrid width="100px">
				<h:outputText value="#{student.lastName}">
				</h:outputText>
			</h:panelGrid>
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">#{msg['person.userid']}</f:facet>
			<h:panelGrid width="100px">
				<h:outputText value="#{student.userID}">
				</h:outputText>
			</h:panelGrid>
		</b:dataTableColumn>
	</b:dataTable>
</h:panelGrid>
</html>