<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h:panelGrid width="200px">
	<h:messages globalOnly="true" styleClass="alert-warning" />
	<h4>#{msg['headline.classroom']}</h4>
	<label>#{msg['classroom.classroomid']}:<span class="color-red">*</span></label>
	<b:inputText id="classroomid" value="#{selectedClassroom.classroomId}"
		maxlength="256" styleClass="form-control margin-bottom-20">
	</b:inputText>
	<h:message for="classroomid" styleClass="alert-warning" />
</h:panelGrid>
</html>