<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">


<h4>#{msg['headline.listclassroom']}</h4>
<b:dataTable value="#{listClassroomsController.allClassrooms}"
	var="classroom" styleClass="table table-hover">
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-warning btn-xs"
			action="#{listClassroomsController.doArchiveClassroom(classroom)}">
			<b:icon name="trash" />
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{editClassroomController.doEditClassroom(classroom,baseView)}">
			<b:icon name="edit" />
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col100">
		<f:facet name="header">#{msg['general.id']}</f:facet>
		<h:panelGrid width="70px">
			<h:outputText value="#{classroom.classroomId}" />
		</h:panelGrid>
	</b:dataTableColumn>
</b:dataTable>
</html>