<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<ui:param name="baseView" value="LIST_CLASSROOM" />
			<div class="paddingleft0 panel-heading">
				<h3>#{msg['headline.listclassroom']}</h3>
			</div>
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editClassroomController.doAddClassroom(baseView)}">
							<b:icon name="plus" />
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['headline.classroom']}" />
						</h:commandLink></td>
					<td class="col5"></td>
				</tr>
				<tr>
					<td class="height20 col5"></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="col400 verticalalign" ><ui:include
							src="listClassroomView.xhtml"/>
						<td class="col50"/>	
							</td>
					<td class="col400 verticalalign">
					<ui:include
							src="listClassroomViewArchive.xhtml" /></td>
				</tr>
			</table>
		</ui:define>
	</ui:composition>
</h:body>
</html>