<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h4>#{msg['headline.testdate']}</h4>
<h:panelGrid width="450px">
	<label>Classrooms:</label>
	<b:selectOneMenu value="#{editTestDateController.classroomId}"
		id="classrooms" immediate="true" styleClass="form">
		<f:selectItem itemValue="#{null}" itemLabel="--select--"
			noSelectionOption="true" itemDisabled="true" />
		<f:selectItems value="#{editTestDateController.classroomIds}"
			var="classroom" itemLabel="#{classroom}" itemValue="#{classroom}" />
	</b:selectOneMenu>

	<label>Test Date:<span class="color-red">*</span></label>

	<h:inputText value="#{selectedTestDate.testDate}" id="datepicker"
		name="datepicker"
		class="form-control form-control margin-bottom-20 bf-no-message has-success"
		maxlength="12" size="12">
		<f:convertDateTime pattern="dd.MM.yyyy" />
	</h:inputText>
	<h:message for="datepicker" styleClass="alert-warning" />
</h:panelGrid>
</html>