<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<ui:param name="baseView" value="LIST_TESTDATE" />
			<table>
				<tr>
					<td class="col400 verticalalign" ><ui:include
							src="listTestDateView.xhtml"/>
						<td class="col50"/>	
							</td>
					<td class="col400 verticalalign">
					<ui:include
							src="listTestDateViewArchive.xhtml" /></td>
				</tr>
			</table>
		</ui:define>
	</ui:composition>
</h:body>
</html>