<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<ui:param name="baseView" value="LIST_TESTDATE_TEST" />
			<div class="paddingleft0 panel-heading">
				<h1>List Testdate Classroom</h1>
			</div>

			<table>
				<tr>
					<td class="col5"></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="verticalalign ym-g38"><h:panelGrid width="450px">
							<label>Classrooms:</label>

							<b:selectOneMenu
								value="#{dropdownClassroomController.selectedClassroom}"
								id="Classrooms" converter="#{ClassroomConverter}"
								onblur="submit()" immediate="true">
								<f:selectItem itemValue="#{null}" itemLabel="--select--"
									noSelectionOption="true" itemDisabled="true" />
								<f:selectItems
									value="#{dropdownClassroomController.allClassrooms}"
									var="Classroom" itemLabel="#{Classroom.classroomId}"
									itemValue="#{Classroom}" />
							</b:selectOneMenu>


						</h:panelGrid></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{dropdownTestController.doSave()}">
							<h:outputText value="Set Test">
							</h:outputText>
						</h:commandLink></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="verticalalign"><b:dataTable
							value="#{listTestDatesController.allTestDatesClassroom}"
							var="testDate" styleClass="table table-hover">
							<b:dataTableColumn>
								<f:facet name="header"></f:facet>
								<h:panelGrid width="70px">
									<h:commandLink  styleClass="btn btn-warning btn-xs"
										action="#{listTestDatesController.doArchiveTestDate(testDate)}">
										<h:outputText value="Archive">
										</h:outputText>
									</h:commandLink>
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header"></f:facet>
								<h:panelGrid width="70px">
									<h:commandLink  styleClass="btn btn-warning btn-xs"
										action="#{editTestDateController.doEditTestDate(testDate,baseView)}">
										<h:outputText value="Edit">
										</h:outputText>
									</h:commandLink>
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header"></f:facet>
								<h:panelGrid width="70px">
									<h:commandLink  styleClass="btn btn-warning btn-xs"
										action="#{editTestDateController.doRemoveTestDate(testDate)}">
										<h:outputText value="Remove">
										</h:outputText>
									</h:commandLink>
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header">Create Date</f:facet>
								<h:panelGrid width="100px">
									<h:outputText value="#{testDate.createDate}">
									</h:outputText>
								</h:panelGrid>
							</b:dataTableColumn>
							<b:dataTableColumn>
								<f:facet name="header">Test Date</f:facet>
								<h:panelGrid width="100px">
									<h:outputText value="#{testDate.testDate}">
									</h:outputText>
								</h:panelGrid>
							</b:dataTableColumn>
						</b:dataTable></td>
				</tr>
			</table>
		</ui:define>
	</ui:composition>
</h:body>
</html>