<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['headline.listtestdate']}</h4>
<b:dataTable value="#{listTestDatesController.allTestDate}"
	var="testDate" styleClass="table table-hover">
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{editTestDateController.doReadTestDate(testDate,baseView)}">
			<b:icon name="sunglasses" />
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-warning btn-xs"
			action="#{listTestDatesController.archive(testDate)}">
			<b:icon name="trash" />
		</h:commandLink>
	</b:dataTableColumn>

	<b:dataTableColumn styleClass="col100">
		<f:facet name="header">#{msg['general.title']}</f:facet>
		<h:outputText value="#{testDate.test.title}">
		</h:outputText>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col100">
		<f:facet name="header">#{msg['general.testdate']}</f:facet>
		<h:outputText value="#{testDate.testDate}">
			<f:convertDateTime pattern="dd.MM.YYYY" />
		</h:outputText>
	</b:dataTableColumn>

</b:dataTable>
</html>