<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['general.archive']}</h4>
<b:dataTable value="#{listExamsController.testDateExamsArchive}"
	var="exam" rowIndexVar="rowIndex" id="questionTableArchive"
	styleClass="table table-hover">
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{editExamController.noArchive(exam)}">
			<b:icon name="thumbs-up" />
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn>
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-danger btn-xs"
			action="#{editExamController.doRemoveExam(exam)}">
			<b:icon name="remove"></b:icon>
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col100">
		<f:facet name="header">
			<h:outputText value="#{msg['person.lastname']}" styleClass="nowrap" />
		</f:facet>
		<h:outputText  value="#{exam.student.lastName}">
		</h:outputText>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col100">
		<f:facet name="header">
			<h:outputText value="#{msg['person.firstname']}" styleClass="nowrap" />
		</f:facet>
		<h:outputText  value="#{exam.student.firstName}">
		</h:outputText>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col20">
				<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:graphicImage library="images" name="checked.png" height="20"
			width="20" rendered="#{exam.finished}" />
		<h:graphicImage library="images" name="unchecked.png" height="20"
			width="20" rendered="#{not exam.finished}" />
	</b:dataTableColumn>


</b:dataTable>
</html>