<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h4>Read #{msg['headline.testdate']}</h4>
<h:panelGrid styleClass="col150">
	<label>#{msg['headline.classroom']}:</label>
	<b:selectOneMenu value="#{selectedTestDate.classroom.classroomId}"
		id="classrooms" styleClass="form" disabled="true">
		<f:selectItem itemValue="#{null}" itemLabel="--select--"
			noSelectionOption="true" itemDisabled="true" />
		<f:selectItems value="#{editTestDateController.classroomIds}"
			var="classroom" itemLabel="#{classroom}" itemValue="#{classroom}" />
	</b:selectOneMenu>
	<label>#{msg['general.testdate']}:</label>
	<h:outputText id="testdate" value="#{selectedTestDate.testDate}"
		styleClass="form-control margin-bottom-20">
		<f:convertDateTime pattern="dd.MM.yyyy" />
	</h:outputText>
</h:panelGrid>
</html>