<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">


<h:body>
	<ui:composition template="../public/editForm.xhtml">
		<ui:define name="form">
			<h4>Edit Exam</h4>
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editExamController.doCancel()}" immediate="true"
							process="@this">
							<h:outputText value="#{msg['button.cancel']}">
							</h:outputText>
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{examQuestionController.startExam}">
							<h:outputText value="Start Exan">
							</h:outputText>
						</h:commandLink></td>
					<td class="col5"></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="verticalalign ym-g38"><h:panelGrid width="450px">

							<label>Title:</label>
							<h:outputText id="title"
								value="#{selectedExam.testDate.test.title}" maxlength="10"
								size="12" styleClass="form-control margin-bottom-20"
								disabled="true">
							</h:outputText>

							<label>Createdate:</label>
							<h:outputText id="createdate" value="#{selectedExam.createDate}"
								maxlength="10" size="12"
								styleClass="form-control margin-bottom-20" disabled="true">
								<f:convertDateTime pattern="dd.MM.yyyy" />
							</h:outputText>
							<label>Testdate:</label>
							<h:outputText id="testdate" value="#{selectedExam.testDate.testDate}"
								maxlength="10" size="12"
								styleClass="form-control margin-bottom-20" disabled="true">
								<f:convertDateTime pattern="dd.MM.yyyy" />
							</h:outputText>
						</h:panelGrid></td>
				</tr>
			</table>
		</ui:define>

	</ui:composition>
</h:body>
</html>