<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:body>
	<ui:composition template="../public/editForm.xhtml">
		<ui:define name="form">
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editTestDateController.deleteTestExam}"
							rendered="#{testDateProducer.selectedTestDate.simulation}">
							<h:outputText value="End test simulation">
							</h:outputText>
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editStudentController.doStartStudent()}"
							rendered="#{editPersonController.userStudent}">
							<h:outputText value="Student Start">
							</h:outputText>
						</h:commandLink></td>
					<td class="col5"></td>
				</tr>
			</table>
			<h:panelGrid width="450px">
				<h4>#{msg['headline.examresult']}</h4>
				<label>#{msg['general.title']}:</label>
				<h:outputText value="#{selectedExam.testDate.test.title}" />
				<label>#{msg['exam.resultpass']}:</label>
				<h:outputText value="#{selectedExam.pass}" />
				<label>#{msg['exam.gradepercent']}:</label>
				<h:outputText cols="30" rows="3" id="percent"
					value="#{selectedExam.passPercent}">
					<f:convertNumber pattern="##00.00" maxFractionDigits="2"
						minFractionDigits="2" />
				</h:outputText>
				<h:outputText value="#{msg['exam.grade']}:" rendered="#{exam.passGrade>0}"/>
				<h:outputText value="#{selectedExam.passGrade}" rendered="#{exam.passGrade>0}"/>
			</h:panelGrid>
		</ui:define>

	</ui:composition>
</h:body>
</html>