<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:b="http://bootsfaces.net/ui">
	
<h4>#{msg['headline.examquestion']}</h4>

<h:panelGrid width="450px" styleClass="verticalalign">
	<label>#{msg['question.ordernumber']}:</label>
	<h:outputText
		value="#{selectedQuestionExam.orderNumber} of
		#{examQuestionController.size}" />
	<label>#{msg['question.question']}:</label>
	<h:outputText value="#{selectedQuestionExam.text}" escape="false"/>


	<h:dataTable value="#{examQuestionController.answersQuestion}"
		var="answer" rowIndexVar="rowIndex" id="questionTable"
		styleClass="table table-hover">
		<h:column>
			<h:commandLink  rendered="#{answer.okUser}"
				action="#{examQuestionController.doUncheckAnswerUser(answer)}">
				<h:graphicImage library="images" name="checked.png" height="20"
					width="20" />
			</h:commandLink>
			<h:commandLink  rendered="#{not answer.okUser}"
				action="#{examQuestionController.doCheckAnswerUser(answer)}">
				<h:graphicImage library="images" name="unchecked.png" height="20"
					width="20" />
			</h:commandLink>
		</h:column>
		<h:column styleClass="collong">
			<f:facet name="header"></f:facet>
			<h:panelGrid width="1000px">
				<h:outputText  value="#{answer.answer}" escape="false">
				</h:outputText>
			</h:panelGrid>
		</h:column>
	</h:dataTable>
</h:panelGrid>
</html>