<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h4>#{msg['headline.examquestion']}</h4>

<h:panelGrid width="450px" styleClass="verticalalign">
	<h:outputText value="#{selectedQuestionExam.text}" escape="false" />
	<h:dataTable value="#{listAnswersController.allAnwersExam}"
		var="answer" rowIndexVar="rowIndex" id="questionTable"
		styleClass="table table-hover">
		<h:column>
		<f:facet name="header"></f:facet>
			<h:graphicImage library="images" name="checked.png"
				rendered="#{answer.ok}" height="20" width="20" />
			<h:graphicImage library="images" name="unchecked.png"
				rendered="#{not answer.ok}" height="20" width="20" />
		</h:column>
		<h:column>
		<f:facet name="header">Selected</f:facet>
			<h:graphicImage library="images" name="checked.png"
				rendered="#{answer.okUser}" height="20" width="20" />
			<h:graphicImage library="images" name="unchecked.png"
				rendered="#{not answer.okUser}" height="20" width="20" />
		</h:column>
		<h:column styleClass="collong">
			<f:facet name="header"></f:facet>
			<h:panelGrid width="1000px">
				<h:outputText value="#{answer.answer}" escape="false">
				</h:outputText>
			</h:panelGrid>
		</h:column>
	</h:dataTable>
</h:panelGrid>
</html>