<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
		<ui:param name="baseView" value="READ_EXAM" />
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-warning btn-xs"
							action="#{editExamController.doCancel()}" immediate="true"
							process="@this">
							<b:icon name="step-backward"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.cancel']}" />
						</h:commandLink></td>
					<td class="col5"></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="col400 verticalalign ym-g38"><ui:include
							src="readExamForm.xhtml" /></td>
					<td class="col50" />
					<td class="col450 verticalalign ym-g38"><ui:include
							src="readExamView.xhtml" /></td>
				</tr>
			</table>
		</ui:define>

	</ui:composition>
</h:body>
</html>