<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['headline.exam']}</h4>
<h:messages globalOnly="true" styleClass="alert-warning" />
<h:panelGrid styleClass="col400">
	<label>#{msg['general.title']}</label>
	<h:outputText id="title" value="#{selectedExam.testDate.test.title}"
		maxlength="10" size="12" styleClass="form-control margin-bottom-20"
		disabled="true">
	</h:outputText>
	<label>#{msg['test.subject']}:</label>
	<b:selectOneMenu id="subjectDDLB"
		value="#{selectedExam.testDate.test.subject}"
		converter="#{subjectConverter}" styleClass="select"  disabled="true">
		<f:selectItems value="#{subjectDDLBController.subjects}"
			styleClass="select" />
		<h:message for="subjectDDLB" styleClass="alert-warning" />
	</b:selectOneMenu>

	<label>#{msg['test.difficulty']}:</label>
	<b:selectOneMenu id="difficultyDDLB"
		value="#{selectedExam.testDate.test.difficulty}"
		converter="#{difficultyConverter}" disabled="true">
		<f:selectItems value="#{dropdownDifficultyController.difficulties}"
			styleClass="select" />
	</b:selectOneMenu>
	<label>#{msg['general.description']}:</label>
	<b:inputTextarea id="description" value="#{selectedTest.description}"
		cols="46" rows="3" readonly="true" />
	<label>#{msg['test.pass']}:</label>
	<h:outputText id="pass4" value="#{selectedTest.pass4}" maxlength="6"
		size="5" styleClass="form-control margin-bottom-20">
		<f:convertNumber pattern="#00.00" maxFractionDigits="2"
			minFractionDigits="2" />
		<f:passThroughAttribute name="placeholder" value="%" />
	</h:outputText>
	<label>#{msg['general.testdate']}:</label>
	<h:outputText id="testdate" value="#{selectedExam.testDate.testDate}"
		maxlength="10" size="12" styleClass="form-control margin-bottom-20"
		disabled="true">
		<f:convertDateTime pattern="dd.MM.yyyy" />
	</h:outputText>
</h:panelGrid>
</html>