<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['headline.question']}</h4>
<b:dataTable value="#{editExamController.allQuestionsExam}"
	var="question" rowIndexVar="rowIndex" id="table"
	styleClass="table table-hover">


<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{editQuestionController.doReadQuestionExam(question,baseView)}">
				<b:icon name="sunglasses" />
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col100">
			<f:facet name="header">#{msg['general.title']}</f:facet>
			<h:outputText  value="#{question.title}">
			</h:outputText>
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="Correct" />
			</f:facet>
			<h:graphicImage library="images" name="checked.png"
				rendered="#{question.correct}" height="20" width="20" />
			<h:graphicImage library="images" name="unchecked.png"
				rendered="#{not question.correct}" height="20" width="20" />
		</b:dataTableColumn>

	
</b:dataTable>
</html>