<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['headline.answers']}</h4>
<h:panelGrid styleClass="col400">
	<b:dataTable value="#{listAnswersController.allAnswersQuestion}"
		var="answer" id="table" styleClass="table table-hover"
		columnClasses="col20,col20,col20,col20,col200,col20">

		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-warning btn-xs"
				action="#{listAnswersController.doArchiveAnswer(answer)}">
				<f:ajax render="theform:table" />
				<f:ajax render="theform:tableArchive" />
				<b:icon name="trash" />
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{editAnswerController.doEditAnswer(answer,baseView)}">
				<b:icon name="edit" />
			</h:commandLink>
		</b:dataTableColumn>

		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{listAnswersController.doLowerOrder(answer)}">
				<f:ajax render="theform:table" />
				<b:icon name="triangle-top" />
			</h:commandLink>
		</b:dataTableColumn>

		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{listAnswersController.doHigherOrder(answer)}">
				<f:ajax render="theform:table" />
				<b:icon name="triangle-bottom" />
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="collong">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:outputText  value="#{answer.title}" escape="false">
			</h:outputText>
		</b:dataTableColumn>

		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  rendered="#{answer.ok}"
				action="#{listAnswersController.doUncheckAnswer(answer)}">
				<f:ajax render="theform:table" />
				<h:graphicImage library="images" name="checked.png" height="20"
					width="20" />
			</h:commandLink>
			<h:commandLink  rendered="#{not answer.ok}"
				action="#{listAnswersController.doCheckAnswer(answer)}">
				<f:ajax render="theform:table" />
				<h:graphicImage library="images" name="unchecked.png" height="20"
					width="20" />
			</h:commandLink>
		</b:dataTableColumn>
	</b:dataTable>
</h:panelGrid>
</html>