<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['headline.answers']} #{msg['general.archive']}</h4>
<h:panelGrid width="450px" styleClass="verticalalign">
	<b:dataTable value="#{listAnswersController.answersArchiveQuestion}"
		var="answer" id="tableArchive" styleClass="table table-hover"
		columnClasses="col20,col20,col200,col20">
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{listAnswersController.doNoArchiveAnswer(answer)}">
				<f:ajax render="theform:table" />
				<f:ajax render="theform:tableArchive" />
				<b:icon name="thumbs-up"></b:icon>
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-danger btn-xs"
				action="#{listAnswersController.remove(answer)}">
				<f:ajax render="theform:tableArchive" />
				<b:icon name="remove"></b:icon>
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{editAnswerController.doEditAnswer(answer,baseView)}">
				<b:icon name="edit" />
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:outputText value="#{answer.title}" escape="false">
			</h:outputText>
		</b:dataTableColumn>
		<b:dataTableColumn>
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:graphicImage library="images" name="checked.png"
				rendered="#{answer.ok}" height="20" width="20" />
			<h:graphicImage library="images" name="unchecked.png"
				rendered="#{not answer.ok}" height="20" width="20" />
		</b:dataTableColumn>
	</b:dataTable>
</h:panelGrid>
</html>