<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">


<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<ui:param name="baseView" value="EDIT_QUESTION" />
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-warning btn-xs"
							action="#{editQuestionController.doCancel()}" immediate="true"
							process="@this">
							<b:icon name="step-backward"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.cancel']}" />
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editQuestionController.doSave()}"
							rendered="#{not editQuestionController.orphan}">
							<b:icon name="floppy-disk"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.save']}" />
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editQuestionController.doSaveOrphan()}"
							rendered="#{editQuestionController.orphan}">
							<b:icon name="floppy-disk"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.save']}" />
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editAnswerController.doAddAnswer(baseView)}">
							<b:icon name="plus" />
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['headline.answer']}" />
						</h:commandLink></td>
					<td class="col5"></td>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editQuestionController.doPreview(baseView)}">
							<b:icon name="plus" />
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['general.preview']}" />
						</h:commandLink></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="col400 verticalalign ym-g38"><ui:include
							src="editQuestionForm.xhtml" /></td>
					<td class="col50" />
					<td class="col400 verticalalign ym-g38"><ui:include
							src="editQuestionView.xhtml" /></td>
					<td class="col50" />
					<td class="col400 verticalalign ym-g38"><ui:include
							src="editQuestionViewArchive.xhtml" /></td>
				</tr>
			</table>
		</ui:define>

	</ui:composition>
</h:body>
</html>