<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">


<h4>#{msg['general.archive']}</h4>
<h:panelGrid styleClass="col400">
	<b:dataTable
		value="#{listQuestionsController.allQuestionsOrphansArchive}"
		var="question" styleClass="table table-hover">
		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{listQuestionsController.doNoArchiveOrphan(question)}">
				<b:icon name="thumbs-up"></b:icon>
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-danger btn-xs"
				action="#{listQuestionsController.doRemoveQuestion(question)}">
				<b:icon name="remove"></b:icon>
			</h:commandLink>
		</b:dataTableColumn>

		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{editQuestionController.doEditQuestion(question,baseView)}">
				<b:icon name="edit" />
			</h:commandLink>
		</b:dataTableColumn>

		<b:dataTableColumn styleClass="col150">
			<f:facet name="header">#{msg['general.title']}</f:facet>
			<h:outputText value="#{question.title}">
			</h:outputText>
		</b:dataTableColumn>
	</b:dataTable>
</h:panelGrid>
</html>