<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">


<h4>#{msg['headline.question']} #{msg['general.orphan']}</h4>
<h:panelGrid styleClass="col400">
	<b:dataTable value="#{listQuestionsController.allQuestionsOrphans}"
		var="question" styleClass="table table-hover">

		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-warning btn-xs"
				action="#{listQuestionsController.doArchiveOrphan(question)}">
				<b:icon name="trash" />
			</h:commandLink>
		</b:dataTableColumn>

		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{editQuestionController.doEditQuestion(question,baseView)}">
				<b:icon name="edit" />
			</h:commandLink>
		</b:dataTableColumn>

		<b:dataTableColumn styleClass="col10">
			<f:facet name="header">
				<h:outputText value="&#160;" />
			</f:facet>
			<h:commandLink  styleClass="btn btn-success btn-xs"
				action="#{listQuestionsController.doAddQuestionToTest(question)}">
				<b:icon name="plus" />
			</h:commandLink>
		</b:dataTableColumn>
		<b:dataTableColumn styleClass="col150">
			<f:facet name="header">#{msg['general.title']}</f:facet>
			<h:outputText value="#{question.title}">
			</h:outputText>
		</b:dataTableColumn>
	</b:dataTable>
</h:panelGrid>
</html>