<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editQuestionController.doAddQuestion('LIST_QUESTION_ORPHAN')}">
							<b:icon name="plus" />
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['headline.question']}" />
						</h:commandLink></td>
					<td class="col5"></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="verticalalign ym-g38"><h:panelGrid width="450px">
							<label>Tests:</label>
							<b:selectOneMenu value="#{dropdownTestController.title}"
								id="Tests">
								<f:selectItem itemValue="#{null}" itemLabel="--select--"
									noSelectionOption="true" itemDisabled="true" />
								<f:selectItems value="#{dropdownTestController.allTitles}" />
							</b:selectOneMenu>
						</h:panelGrid></td>
					<td class="col5"></td>
				</tr>
			</table>
			<ui:param name="baseView" value="LIST_QUESTION_ORPHAN" />
			<table>
				<tr>
					<td class="col400 verticalalign ym-g38"><ui:include
							src="listQuestionsOrphansView.xhtml" /></td>
					<td class="col50" />
					<td class="col400 verticalalign ym-g38"><ui:include
							src="listQuestionsOrphansViewArchive.xhtml" /></td>
				</tr>
			</table>
		</ui:define>
	</ui:composition>
</h:body>
</html>