<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:b="http://bootsfaces.net/ui">
	
<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-warning btn-xs"
							action="#{editQuestionController.cancelPreview()}" immediate="true"
							process="@this">
							<b:icon name="step-backward"></b:icon>
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['button.cancel']}" />
						</h:commandLink></td>
					<td class="col5"></td>
				</tr>
			</table>
						<table>

				<tr>
					<td class="verticalalign ym-g38"><ui:include
							src="readQuestionPreviewForm.xhtml" style="width:480px" /></td>
				</tr>
			</table>
		</ui:define>

	</ui:composition>
</h:body>
</html>