<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:b="http://bootsfaces.net/ui">
	


<h:body>
<ui:composition template="../../public/editForm.xhtml">
	<ui:define name="form">
			<h1>Read Question</h1>
				<p:messages closable="true" />

				<h:panelGrid columns="2">
					<h:outputLabel value="Title:" />
					<p:inputText id="title" value="#{selectedQuestionTest.title}" />
					<h:outputLabel value="Question:" />
					<p:inputText id="text" value="#{selectedQuestionTest.text}" />
				</h:panelGrid>
				<h1>List Answer</h1>
				<p:dataTable value="#{listAnswersController.allAnswersQuestion}"
					var="answer">
					<p:column>
						<f:facet name="header">Answer</f:facet>
						<h:outputText value="#{answer.answer}" />
					</p:column>
					<p:column rendered="#{answer.ok}">
					<h:outputText value="X" />
					</p:column>
				</p:dataTable>
				<p:commandButton value="#{msg['editTest.cancel']}" ajax="false"
					action="#{editQuestionController.doCancel('listQuestionsArchiv')}" />
		</ui:define>

	</ui:composition>
</h:body>
</html>