<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['headline.question']}</h4>
<b:dataTable value="#{listQuestionsController.allQuestionsTest}"
	var="question" rowIndexVar="rowIndex" id="table"
	styleClass="table table-hover">

	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink styleClass="btn btn-warning btn-xs"
			action="#{listQuestionsController.doArchiveQuestion(question)}">
			<f:ajax render="theform:table" />
			<f:ajax render="theform:tableArchive" />
			<b:icon name="trash"></b:icon>
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-warning btn-xs"
			actionListener="#{listQuestionsController.doRemoveQuestionFromTest(question)}">
			<f:ajax render="theform:table" />
			<b:icon name="minus"></b:icon>
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{editQuestionController.doEditQuestion(question,baseView)}">
			<b:icon name="edit" />
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{listQuestionsController.doLowerOrder(question)}">
			<f:ajax render="theform:table" />
			<b:icon name="triangle-top" />
		</h:commandLink>
	</b:dataTableColumn>

	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{listQuestionsController.doHigherOrder(question)}">
			<f:ajax render="theform:table" />
			<b:icon name="triangle-bottom" />
		</h:commandLink>
	</b:dataTableColumn>

	<b:dataTableColumn styleClass="col150">
		<f:facet name="header">#{msg['general.title']}</f:facet>
		<h:outputText  value="#{question.title}">
		</h:outputText>
	</b:dataTableColumn>
</b:dataTable>
</html>