<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['headline.test']}</h4>
<script>
tinymce.init({
	
  selector: '[id$=mytextarea]',
  height: 150,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
  content_css: '//www.tinymce.com/css/codepen.min.css'
});
</script>
<h:messages globalOnly="true" styleClass="alert-warning" />
<h:panelGrid styleClass="col400">

	<label>#{msg['general.title']}:<span class="color-red">*</span></label>
	<b:inputText id="title" value="#{selectedTest.title}" maxlength="256"
		styleClass="form-control margin-bottom-20" size="60">
		<f:passThroughAttribute name="placeholder"
			value="#{msg['general.title']}" />
	</b:inputText>
	<h:message for="title" styleClass="alert-warning" />

	<label>#{msg['test.subject']}:<span class="color-red">*</span></label>
	<b:selectOneMenu id="subjectDDLB" value="#{selectedTest.subject}"
		converter="#{subjectConverter}" styleClass="select">
		<f:selectItems value="#{subjectDDLBController.subjects}"
			styleClass="select" />
		<h:message for="subjectDDLB" styleClass="alert-warning" />
	</b:selectOneMenu>

	<label>#{msg['test.difficulty']}:<span class="color-red">*</span></label>
	<b:selectOneMenu id="difficultyDDLB" value="#{selectedTest.difficulty}"
		converter="#{difficultyConverter}">
		<f:selectItems value="#{dropdownDifficultyController.difficulties}"
			styleClass="select" />
	</b:selectOneMenu>
	<h:message for="difficultyDDLB" styleClass="alert-warning" />
	<label>#{msg['general.description']}:</label>
	<h:inputTextarea  value="#{selectedTest.description}" id="mytextarea" />
	<h:message for="mytextarea" styleClass="alert-warning" />
	<label>#{msg['test.pass']}:<span class="color-red">*</span></label>
	<b:inputText id="pass4" value="#{selectedTest.pass4}" maxlength="6"
		size="5" styleClass="form-control margin-bottom-20">
		<f:convertNumber pattern="#00.00" maxFractionDigits="2"
			minFractionDigits="2" />
		<f:passThroughAttribute name="placeholder" value="%" />
	</b:inputText>
	<h:message for="pass4" styleClass="alert-warning" />

	<h:panelGrid styleClass="col200" columns="3">
		<label>#{msg['test.grades']}:</label>
		<h:outputLabel styleClass="col5"></h:outputLabel>
		<h:selectBooleanCheckbox id="checkGrades"
			value="#{selectedTest.passGrades}" rendered="true"
			styleClass="ym-form">
			<p:ajax update="refresh" process="@this" />
		</h:selectBooleanCheckbox>
	</h:panelGrid>
	<h:panelGroup id="refresh">
		<p:outputPanel rendered="#{selectedTest.passGrades}">
			<h:message for="pass3" styleClass="alert-warning" />
			<table>
				<tr>
					<td><label class="nowrap">#{msg['test.pass3']}:</label></td>
					<td class="col5"></td>
					<td><b:inputText id="pass3" value="#{selectedTest.pass3}"
							maxlength="6" size="5" styleClass="form-control margin-bottom-20">
							<f:convertNumber pattern="#00.00" maxFractionDigits="2"
								minFractionDigits="2" />
							<f:passThroughAttribute name="placeholder" value="%" />
							<f:validator validatorId="PassGradesValidator" />
						</b:inputText></td>
				</tr>
				<tr>
					<td><label class="nowrap">#{msg['test.pass2']}:</label></td>
					<td class="col5"></td>
					<td><b:inputText id="pass2" value="#{selectedTest.pass2}"
							maxlength="6" size="5" styleClass="form-control margin-bottom-20">
							<f:convertNumber pattern="#00.00" maxFractionDigits="2"
								minFractionDigits="2" />
							<f:passThroughAttribute name="placeholder" value="%" />
						</b:inputText></td>

				</tr>
				<tr>
					<td><label class="nowrap">#{msg['test.pass1']}:</label></td>
					<td class="col5"></td>
					<td><b:inputText id="pass1" value="#{selectedTest.pass1}"
							maxlength="6" size="5" styleClass="form-control margin-bottom-20">
							<f:convertNumber pattern="#00.00" maxFractionDigits="2"
								minFractionDigits="2" />
							<f:passThroughAttribute name="placeholder" value="%" />
						</b:inputText></td>
				</tr>
			</table>
		</p:outputPanel>
	</h:panelGroup>
	<h:panelGrid styleClass="col200" columns="3">
		<h:outputLabel styleClass="nowrap">#{msg['general.created']}:</h:outputLabel>
		<h:outputLabel styleClass="col5"></h:outputLabel>
		<h:outputLabel styleClass="nowrap" id="createDate"
			value="#{selectedTest.createDate}">
			<f:convertDateTime pattern="dd.MM.YYYY hh:mm" />
		</h:outputLabel>
		<h:outputLabel styleClass="nowrap">#{msg['general.lastmodified']}:</h:outputLabel>
		<h:outputLabel styleClass="col5"></h:outputLabel>
		<h:outputLabel styleClass="nowrap" id="lastModified"
			value="#{selectedTest.lastModified}">
			<f:convertDateTime pattern="dd.MM.YYYY hh:mm" />
		</h:outputLabel>
	</h:panelGrid>

</h:panelGrid>
</html>