<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h4>#{msg['button.archive']}</h4>
<b:dataTable value="#{listTestsController.allArchiveTests}" var="test"
	styleClass="table table-hover" id="archive">
	<b:dataTableColumn styleClass="col10" id="tableArchive">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{listTestsController.noArchive(test)}">
			<b:icon name="thumbs-up"></b:icon>
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-danger btn-xs"
			action="#{listTestsController.remove(test)}">
			
			<b:icon name="remove"></b:icon>
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink styleClass="btn btn-success btn-xs"
			action="#{editTestController.doEditTest(test,baseView)}">
			<b:icon name="edit" />
		</h:commandLink>
	</b:dataTableColumn>

	<b:dataTableColumn styleClass="col100">
		<f:facet name="header">#{msg['general.title']}</f:facet>
		<h:outputText value="#{test.title}" />
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col70">
		<f:facet name="header">#{msg['general.subject']}</f:facet>
		<h:outputText value="#{test.subject}">
			<f:converter converterId="subjectConverter" />
		</h:outputText>
	</b:dataTableColumn>
</b:dataTable>
</html>