<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h4>#{msg['headline.listtest']}</h4>
<b:dataTable value="#{listTestsController.allTests}" var="test"
	styleClass="table table-hover" id="table">
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink styleClass="btn btn-warning btn-xs"
			action="#{listTestsController.archive(test)}">
			<b:icon name="trash" />
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col10">
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink  styleClass="btn btn-success btn-xs"
			action="#{editTestController.doEditTest(test,baseView)}">
			<b:icon name="edit" />
		</h:commandLink>
	</b:dataTableColumn>
	<b:dataTableColumn>
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink styleClass="btn btn-success btn-xs"
			action="#{listTestsController.doLowerOrder(test)}">
			<f:ajax render="theform:table" />
			<b:icon name="triangle-top" />
		</h:commandLink>
	</b:dataTableColumn>

	<b:dataTableColumn>
		<f:facet name="header">
			<h:outputText value="&#160;" />
		</f:facet>
		<h:commandLink styleClass="btn btn-success btn-xs"
			action="#{listTestsController.doHigherOrder(test)}">
			<f:ajax render="theform:table" />
			<b:icon name="triangle-bottom" />
		</h:commandLink>
	</b:dataTableColumn>

	<b:dataTableColumn styleClass="col100">
		<f:facet name="header">#{msg['general.title']}</f:facet>
		<h:outputText value="#{test.title}" />
	</b:dataTableColumn>
	<b:dataTableColumn styleClass="col70">
		<f:facet name="header">#{msg['general.subject']}</f:facet>
		<h:outputText value="#{test.subject}">
			<f:converter converterId="subjectConverter" />
		</h:outputText>
	</b:dataTableColumn>
</b:dataTable>
</html>