<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="../../public/editForm.xhtml">
		<ui:define name="form">
			<ui:param name="baseView" value="LIST_TEST" />
			<table>
				<tr>
					<td><h:commandLink 
							styleClass="btn btn-success btn-xs"
							action="#{editTestController.doAddTest(baseView)}">
							<b:icon name="plus" />
							<h:outputText value="&#160;" />
							<h:outputText value="#{msg['general.test']}" />
						</h:commandLink></td>
				</tr>
				<tr>
					<td class="height20 col5"></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="col450 verticalalign" ><ui:include
							src="listTestActive.xhtml"/>
						<td class="col50"/>	
							</td>
					<td class="col450 verticalalign">
					<ui:include
							src="listTestArchive.xhtml" /></td>
				</tr>
			</table>
		</ui:define>
	</ui:composition>
</h:body>
</html>