<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">


<h:body>
<ui:composition template="../../public/editForm.xhtml">
	<ui:define name="form">
			<h1>Read Test</h1>
				<p:messages closable="true" />
				<p:tabView id="tabView">
					<p:tab title="#{msg['editTest.general']}">

						<h:panelGrid columns="2">
							<h:outputLabel value="#{msg['editTest.title']}:" />
							<p:inputText id="title" value="#{selectedTest.title}">
								<f:passThroughAttribute name="placeholder"
									value="#{msg['editTest.title']}" />
							</p:inputText>

							<h:outputLabel value="#{msg['editTest.subject']}:" />
							<h:selectOneMenu id="subjectDDLB" value="#{selectedTest.subject}"
								converter="#{subjectConverter}">
								<f:selectItems value="#{subjectDDLBController.subjects}" />
							</h:selectOneMenu>
							<h:outputLabel value="Difficulty:" />
							<h:selectOneMenu id="difficultyDDLB"
								value="#{selectedTest.difficulty}"
								converter="#{difficultyConverter}">
								<f:selectItems value="#{difficultyDDLBController.difficulties}" />
							</h:selectOneMenu>
							<h:outputLabel value="created:" />
							<p:inputText id="createDate" value="#{selectedTest.createDate}"
								readonly="true">
								<f:convertDateTime pattern="dd.MM.YYYY hh:mm" />
							</p:inputText>

							<h:outputLabel value="Detailled Grades:" />
							<p:selectBooleanCheckbox value="#{selectedTest.passGrades}">
								<p:ajax update="refresh" process="@this" />
							</p:selectBooleanCheckbox>
							<h:outputLabel value="Pass(%):" />
							<p:inputText id="pass4" value="#{selectedTest.pass4}">
								<f:convertNumber pattern="#00.00" maxFractionDigits="2"
									minFractionDigits="2" />
							</p:inputText>
							<h:panelGroup id="refresh">

								<p:outputPanel rendered="#{selectedTest.passGrades}">
									<h:panelGrid columns="2">

										<h:outputLabel value="Pass 3 (%):" />
										<p:inputText id="pass3" value="#{selectedTest.pass3}">
											<f:convertNumber pattern="#00.00" maxFractionDigits="2"
												minFractionDigits="2" />
										</p:inputText>
										<h:outputLabel value="Pass 2 (%):" />
										<p:inputText id="pass2" value="#{selectedTest.pass2}">
											<f:convertNumber pattern="#00.00" maxFractionDigits="2"
												minFractionDigits="2" />
										</p:inputText>
										<h:outputLabel value="Pass 1 (%):" />
										<p:inputText id="pass1" value="#{selectedTest.pass1}">
											<f:convertNumber pattern="#00.00" maxFractionDigits="2"
												minFractionDigits="2" />
										</p:inputText>
									</h:panelGrid>
								</p:outputPanel>
							</h:panelGroup>
							<h:outputLabel value="#{msg['editTest.description']}:" />
							<h:inputTextarea cols="30" rows="3" id="description"
								value="#{selectedTest.description}" />

						</h:panelGrid>
					</p:tab>
					<p:tab title="Questions">

						<h1>List Questions mit Test</h1>
						<p:dataTable value="#{listQuestionsController.allQuestionsTest}"
							var="question">mn>
							<p:column>
								<f:facet name="header">#{msg['listTests.title']}</f:facet>
								<h:outputText value="#{question.title}" />
							</p:column>
							<p:column>
								<f:facet name="header">Text</f:facet>
								<h:outputText value="#{question.text}" />
							</p:column>
						</p:dataTable>
					</p:tab>
				</p:tabView>
				<p:commandButton value="#{msg['editTest.cancel']}" ajax="false"
					onclick="history.back(); return false;">
				</p:commandButton>
		</ui:define>

	</ui:composition>
</h:body>
</html>