<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Multilechoice</title>
	<meta charset="utf-8" />

	<h:outputStylesheet name="css/yaml/core/base.css" />
	<h:outputStylesheet name="css/yaml/forms/gray-theme.css" />
	<h:outputStylesheet name="css/yaml/navigation/hlist.css" />
	<h:outputStylesheet name="css/yaml/screen/typography.css" />
	<h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>
	<h:panelGrid cellspacing="0" cellpadding="0" border="0"
		styleClass="all ym-form">
		<ui:insert name="content" />
	</h:panelGrid>
</h:body>
</html>