<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<title>#{msg['app.title']}</title>
<meta charset="utf-8" />
<h:outputStylesheet name="css/yaml/core/base.css" />
<h:outputStylesheet name="css/yaml/forms/gray-theme.css" />
<h:outputStylesheet name="css/yaml/navigation/vlist.css" />
<h:outputStylesheet name="css/yaml/screen/typography.css" />
<h:outputStylesheet name="css/screen.css" />
<h:head>
</h:head>
<h:body>
	<h:panelGrid
		cellspacing="0" cellpadding="0" border="0"  styleClass="all ym-form">
		<h:panelGrid
			styleClass="middle ym-form" cellspacing="0" cellpadding="0" border="0">
			<h:panelGrid columns="2" id="middle" columnClasses="sidebar, content"
				cellspacing="0" cellpadding="0" border="0" styleClass="ym-form">
				<h:panelGrid id="sidebar" styleClass="sidebar ym-form"
					columnClasses="sidebar" cellspacing="0" cellpadding="0" border="0">
					<ui:include src="../navigation/navigation.xhtml" />
				</h:panelGrid>
				<h:panelGrid style="overflow:hidden;" styleClass="ym-form" cellspacing="0" cellpadding="0" border="0">
					<ui:insert name="content" />
				</h:panelGrid>
			</h:panelGrid>
		</h:panelGrid>
	</h:panelGrid>
</h:body>
</html>