
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="../public/editForm.xhtml">
		<ui:define name="form">
			<h:panelGrid cellspacing="0" cellpadding="0" border="0">

				<!-- Production Error Handling -->
				<h:outputText value="An Error occured"></h:outputText>

				<!--  <h2>Test Error Handling: Do not use in production environment</h2>
				<br />
				<h:outputText value="Error Code: #{errorHandler.statusCode}"></h:outputText>
				<br />
				<h:outputText value="Error Desscription: #{errorHandler.message}"></h:outputText>-->

			</h:panelGrid>
		</ui:define>
	</ui:composition>
</h:body>
</html>