<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="public/templateForm.xhtml">
		<ui:define name="login">
			<div class="topbar">
				<div class="loginbar pull-left">
					<form method="post" action="j_security_check"
						class="navbar-form navbar-right">
						<div class="form-group">
							<table>
								<tr>
									<td><label class="alert-warning">#{msg['login.errorMsg']}</label>
									</td>
								</tr>
								<tr>
									<td><b:inputText type="text" name="j_username"
											class="form-control margin-bottom-20" placeholder="Email">
											<f:facet name="prepend">
												<b:icon name="user" style="color:grey !important"/>
											</f:facet>
										</b:inputText> <b:inputSecret type="password" name="j_password"
											class="form-control margin-bottom-20" placeholder="Password">
											<f:facet name="prepend">
												<b:iconAwesome name="key" />
											</f:facet>
										</b:inputSecret> <input type="submit" value="#{msg['login.login']}"
										class="bn btn-default btn-u pull-right" /></td>
								</tr>
							</table>
						</div>
					</form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>