<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>#{msg['app.title']}</title>
	<meta charset="utf-8" />
	<!--  <h:outputStylesheet name="/screen.css" />   otherwise redirect false!-->
</h:head>
<h:body>
	<div id="container">
		<div id="header">
			<p>#{msg['app.title']}</p>
		</div>
		<div id="content">
			<ui:insert name="content">
                    [Template content will be inserted here]
            </ui:insert>
		</div>
		<div id="footer">
		</div>
	</div>
</h:body>
</html>
