<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:body>
	<ui:composition template="templateForm.xhtml">
		<ui:define name="content">
			<h:form styleClass="form" id="theform">
				<div class="col-md-12">
					<div class="panel panel-yellow margin-bottomEmail Address:*-40"
						style="vertical-align: top !important;">
						<ui:insert name="form" />
					</div>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>