<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:body>
	<ui:composition template="template.xhtml"><!-- nur hier!!! -->
		<ui:define name="content">
			<h4>#{msg['headline.student']}</h4>
			<h:form>
				<p:messages closable="true" />
				<p:commandButton value="#{msg['button.save']}" ajax="false"
					action="#{editStudentController.doSaveOrphan()}"
					rendered="#{editStudentController.orphan}" />
				<p:commandButton value="#{msg['button.save']}" ajax="false"
					action="#{editStudentController.doSave()}"
					rendered="#{not editStudentController.orphan}" />
				<p:commandButton value="#{msg['button.cancel']}" ajax="false"
					action="#{editStudentController.doCancel()}" />
				<h:panelGrid columns="2">
					<h:outputLabel value="#{msg['student.firstname']}:" />
					<p:inputText id="firstName" value="#{selectedStudent.firstName}" />
					<h:outputLabel value="#{msg['student.lastname']}:" />
					<p:inputText id="lastName" value="#{selectedStudent.lastName}" />
					<h:outputLabel value="#{msg['student.userid']}:" />
					<p:inputText id="userId" value="#{selectedStudent.userID}" />
					<h:outputLabel value="#{msg['student.password']}:" />
					<p:inputText id="password" value="#{selectedStudent.passWord}" />					
				</h:panelGrid>
					<h4>#{msg['headline.exams']}</h4>
				<p:dataTable value="#{listExamsController.studentExams}" var="exam">
					<p:column>
						<f:facet name="header">#{msg['general.date']}</f:facet>
						<p:commandLink ajax="false"
							action="#{editExamController.doEditExam(exam,'EDIT_STUDENT')}">
							<h:outputText value="#{exam.testDate.testDate}">
								<f:convertDateTime pattern="dd.MM.yyyy" />
							</h:outputText>
						</p:commandLink>
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['general.title']}</f:facet>
						<p:commandLink value="#{exam.testDate.test.title}" ajax="false"
							action="#{editExamController.doEditExam(exam,'EDIT_STUDENT')}" />
					</p:column>
				</p:dataTable>

			</h:form>
		</ui:define>

	</ui:composition>
</h:body>
</html>