<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="editForm.xhtml">
	<ui:define name="form">
		<div class="paddingleft0 panel-heading">
			<h3>New Student</h3>
		</div>
		<table>
			<tr>
				<td><h:commandLink 
						styleClass="btn btn-success btn-xs"
						action="#{editPersonController.doCancel()}" immediate="true"
						process="@this">
						<h:outputText value="Cancel">
						</h:outputText>
					</h:commandLink></td>
				<td class="col5"></td>
				<td><h:commandLink 
						styleClass="btn btn-success btn-xs"
						action="#{editPersonController.doPersistNewStudent()}">
						<h:outputText value="Student">
						</h:outputText>
					</h:commandLink></td>
					
				<td class="col5"></td>
			</tr>
		</table>
		<h:panelGrid width="450px">
			<label>#{msg['person.firstname']}:<span class="color-red">*</span></label>
			<b:inputText id="firstname" value="#{selectedPerson.firstName}"
				styleClass="form-control margin-bottom-20" size="60"
				placeholder="First Name..." />

			<h:message for="firstname" styleClass="alert-warning" />
			<label>#{msg['person.lastname']}:<span class="color-red">*</span></label>
			<b:inputText id="lastname" value="#{selectedPerson.lastName}"
				styleClass="form-control margin-bottom-20" size="60"
				placeholder="Last Name..." />
			<h:message for="lastname" styleClass="alert-warning" />
			<label>#{msg['person.email']}:<span class="color-red">*</span></label>
			<b:inputText id="email" value="#{selectedPerson.emailAddress}"
				styleClass="form-control margin-bottom-20" size="60"
				placeholder="John.Doe@acme.at...">
				<f:facet name="prepend">
					<h:outputText value="@" />
				</f:facet>
				<f:validator validatorId="EmailValidator" />
			</b:inputText>
			<h:message for="email" styleClass="alert-warning" />
			<label>#{msg['person.password']}:<span class="color-red">*</span></label>
			<b:inputSecret id="password" value="#{selectedPerson.passWord}"
				match="repeated_password" styleClass="form-control margin-bottom-20"
				size="60" />
			<h:message for="password" styleClass="alert-warning" />
			<label>#{msg['person.passwordconfirm']}:<span
				class="color-red">*</span></label>
			<b:inputSecret id="repeated_password"
				value="#{selectedPerson.passWordCompare}"
				styleClass="form-control margin-bottom-20" />
			<h:message for="passwordconfirm" styleClass="alert-warning" size="60" />

		</h:panelGrid>

	</ui:define>
</ui:composition>
<b:panel style-class="padding0" rendered="false">
</b:panel>
</html>