<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<title>#{msg['welcome.text']}</title>
	<meta charset="utf-8" />
	<!-- Web Fonts -->
	<!-- CSS Customization -->
	<h:outputStylesheet name="css/assets/css/parallax-slider.css" />
	<h:outputStylesheet name="css/assets/css/owl.carousel.css" />

	<h:outputStylesheet name="css/assets/css/style.css" />

	<!-- CSS Header and Footer -->
	<h:outputStylesheet name="css/assets/css/headers/header-default.css" />
	<h:outputStylesheet name="css/assets/css/footers/footer-v1.css" />

	<!-- CSS Implementing Plugins -->
	<h:outputStylesheet name="css/assets/css/plugins/animate.css" />
	<h:outputStylesheet name="css/assets/css/plugins/line-icons.css" />
	<h:outputStylesheet name="css/assets/css/plugins/font-awesome.css" />

	<!-- CSS Page Style -->
	<h:outputStylesheet name="css/assets/css/pages/page_log_reg_v1.css" />

	<!-- CSS Theme -->
	<h:outputStylesheet name="css/assets/css/theme-colors/default.css" />
	<h:outputStylesheet name="css/assets/css/theme-skins/dark.css" />


	<!-- CSS Customization -->
	<h:outputStylesheet name="css/assets/css/custom.css" />
	<!--  Form -->
	<h:outputStylesheet name="css/assets/css/custom-sky-forms.css" />
	<h:outputStylesheet name="css/assets/css/sky-forms.css" />
	<h:outputStylesheet name="css/screen.css" />
	<!-- end CSS -->

	<h:outputScript library="js" name="app.js" />
	<h:outputScript library="js" name="plugins/jquery/jquery.min.js" />
	<h:outputScript library="js"
		name="plugins/jquery/jquery-migrate.min.js" />

	<h:outputScript library="js" name="back-to-top.js" />
	<h:outputScript library="js" name="smoothScroll.js" />
	<h:outputScript library="js" name="custom.js" />
	<h:outputScript library="js" name="style-switcher.js" />
	<h:outputScript library="js" name="modernizr.js" />
	<h:outputScript library="js" name="jquery.cslider.js" />
	<h:outputScript library="js" name="owl.carousel.js" />
	<h:outputScript library="js" name="parallax-slider.js" />
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "[id$=datepicker]" ).datepicker({
    	dateFormat:'dd.mm.yy'
        });
    
  } );
  </script>
  
	<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
	<script type="text/javascript"
		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>
	<script type="text/javascript"
		src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
		<!--  
		<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/css"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css"></script>-->
	<script>
function copyMCEData(from,to){ document.getElementById(to).value = tinyMCE.get(from).getContent();}
</script>
</h:head>
<h:body>

	<div class="wrapper">
		<b:panel style-class="padding0" rendered="false">
		</b:panel>
		<!--=== Header ===-->
		<div class="header">
			<div class="marginbottom0 container">

				<!-- Topbar -->
				<div class="topbar">

					<ui:insert name="login" />

					<h:form>
						<ul class="loginbar pull-right" style="font-size: 13px">
							<li class="topbar-devider"></li>
							<li><h:commandLink action="#{editPersonController.doHome()}">
									<b:icon name="home" size="2x" style="color:grey !important" />
									<h:outputText value="&#160;" styleClass="col5" />
									<h:outputText value="Home" />
								</h:commandLink></li>
							<li class="topbar-devider"></li>
							<li><h:commandLink
									action="#{editPersonController.doLogout()}">
									<b:icon name="log-out" size="2x" style="color:grey !important" />
									<h:outputText value="&#160;" styleClass="col5" />
									<h:outputText value="Log out" />
								</h:commandLink></li>
							<li class="topbar-devider"></li>
							<li><h:outputLink value="../user/start.xhtml">
									<b:icon name="log-in" size="2x" style="color:grey !important" />
									<h:outputText value="&#160;" styleClass="col5" />
									<h:outputText value="Log in" />
								</h:outputLink></li>
							<li class="topbar-devider"></li>
						</ul>
					</h:form>
				</div>
				<!-- End Topbar -->

				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div>
			<!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div
				class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="marginbottom0 container">

					<!-- Toggle get grouped for better mobile display -->
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-responsive-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="fa fa-bars"></span>
					</button>
					<!-- End Toggle -->
				</div>
				<!--/end container-->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div
					class="left collapse navbar-collapse mega-menu navbar-responsive-collapse">
					<h:form>
						<div class="left marginbottom0 container">
							<h:panelGroup rendered="#{editPersonController.userAdmin}">
								<ul class="nav navbar-nav">
									<li class="dropdown active"><a href="javascript:void(0);"
										class="dropdown-toggle" data-toggle="dropdown">Admin</a>
										<ul class="dropdown-menu">
											<li><h:outputLink value="../admin/start.xhtml">Users</h:outputLink></li>
										</ul></li>
								</ul>
							</h:panelGroup>
							<h:panelGroup>
								<ul class="nav navbar-nav">
									<h:panelGroup rendered="#{editPersonController.userTeacher}">
										<li class="dropdown active"><a href="javascript:void(0);"
											class="dropdown-toggle" data-toggle="dropdown"> Teacher</a>
											<ul class="dropdown-menu">
												<li><h:commandLink ajax="false"
														action="#{navigationController.navigate('LIST_TEST')}">Tests</h:commandLink></li>
												<li><h:commandLink ajax="false"
														action="#{navigationController.navigate('LIST_QUESTION_ORPHAN')}">Question Orphan</h:commandLink></li>
												<li><h:commandLink ajax="false"
														action="#{navigationController.navigate('LIST_QUESTION')}">Questions Test</h:commandLink></li>
												<li><h:commandLink ajax="false"
														action="#{navigationController.navigate('LIST_CLASSROOM')}">Classroom</h:commandLink></li>

												<li><h:commandLink ajax="false"
														action="#{navigationController.navigate('LIST_STUDENT_ORPHAN')}">Student Orphan</h:commandLink></li>
												<li><h:commandLink ajax="false"
														action="#{navigationController.navigate('LIST_STUDENT')}">Student Classroom</h:commandLink></li>
												<li><h:commandLink ajax="false"
														action="#{navigationController.navigate('LIST_TESTDATE')}">Testdates</h:commandLink></li>
											</ul></li>
									</h:panelGroup>
								</ul>
							</h:panelGroup>
							<ul class="nav navbar-nav">
								<!-- Home -->
								<li class="dropdown active"><a href="javascript:void(0);"
									class="dropdown-toggle" data-toggle="dropdown">Personal
										Data</a>
									<ul class="dropdown-menu">
										<h:panelGroup
											rendered="#{not editPersonController.userHasRole}">
											<li><h:outputLink value="../user/start.xhtml">Login</h:outputLink></li>
											<li><h:outputLink value="../public/newPerson.xhtml">New Student</h:outputLink></li>
										</h:panelGroup>
										<h:panelGroup rendered="#{editPersonController.userHasRole}">
											<li><h:commandLink
													action="#{editPersonController.doEditPerson()}">Edit
										Personal Data</h:commandLink></li>
											<li><h:commandLink
													action="#{editPersonController.doEditPassword()}">Change Password</h:commandLink></li>
											<li><h:commandLink
													action="#{editPersonController.doLogout()}">Logout</h:commandLink></li>

										</h:panelGroup>
									</ul></li>
								<!-- End Home -->
							</ul>


						</div>
						<!--/end container-->
					</h:form>
				</div>
				<!--/navbar-collapse-->
			</div>
			<!--=== End Header ===-->
			<h:panelGrid cellspacing="0" cellpadding="0" border="0">
				<ui:insert name="content" />
			</h:panelGrid>
		</div>
	</div>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			OwlCarousel.initOwlCarousel();
			StyleSwitcher.initStyleSwitcher();
			ParallaxSlider.initParallaxSlider();
		});
	</script>
	<b:panel style-class="padding0" rendered="false">
	</b:panel>
</h:body>
</html>